.Rproj.user
.Rhistory
.RData
.Ruserdata
data/raster
data/shape
distribution.txt
meta.xml
ipt/eml.xml
ipt/reference.txt
ipt/resourcerelationship.txt
ipt/speciesprofile.txt
ipt/taxon.txt
ipt/typesandspecimen.txt
ipt/vernacularname.txt
results/output_centroides
results/output_names
results/output
iptflora
all_flora
all_flora.csv
gustavobio.R
data/CITES
*_inpa.csv*
*_aoo_eoo.csv*
*_clean.csv*
*_raw.csv*
*_excluded.csv*
*_UC.csv*
*_centroides.csv*
*_duplicata.csv*
*_proof.csv*